<div class="site-blocks-cover ' + hero.heightClass" data-aos="fade">
<!-- <div class="site-blocks-cover ' + hero.heightClass"> -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto order-md-2 align-self-start">
          <div class="site-block-cover-content">
          <h2 class="sub-title">{{hero.title}}</h2>
          <h1>{{hero.subTitle}}</h1>
          <p><a href="#" class="btn btn-black rounded-0">{{hero.headline}}</a></p>
          </div>
        </div>
        <div class="col-md-6 order-1 align-self-end">
            <img [src]="'assets/images/' + hero.imageName" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>