<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section mb-5 col-12">
                <h2 class="text-uppercase">{{ title }}</h2>
            </div>
        </div>
        <div class="row">

            @for (product of products; track product.title) {
            <div class="col-lg-4 col-md-6 item-entry mb-4">
                <app-product [product]="product"></app-product>
            </div>
            }
            @empty {
            <div>No products found</div>
            }

        </div>
    </div>
</div>